.categories {
    list-style: none;
    text-align: center;
}
.categories li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.categories a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.categories a:hover {
    color: var(--blue);
}
