.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkgray);
    padding: 10px 0 20px 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.home-button {
    /* this is for the "make it real" */
    text-decoration: none;
    color: var(--lightblue);
    font-size: 50px;
    padding: 10px 6px 6px 6px;
}
.home-button:hover {
    color: var(--blue);
}
.logo {
    width: 40px;
    padding-left: 10px;
    position: relative;
    top: 7px;
    /* height: 100px; */
}
.cart {
    margin-right: 20px;
    margin-bottom: 10px;
}
.fa-primary {
    color: var(--lightblue);
    margin-top: 10px;
}
.fa-primary:hover {
    color: white;
}
.fa-shopping-cart {
    width: 40px;
    position: relative;
    top: 10px;

}
.login-signup {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: var(--blue);
    border-radius: 20px;
    margin-right: 10px;

}
.login-signup:hover {
    background-color: var(--purple);
}
.create-post {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 20px;
}
.create-post:hover {
    color: var(--lightblue);
    cursor: pointer;
    background-color: rgba(78, 78, 80, 0);
    border-radius: 24px 24px 24px 24px;
}
.logout-button {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    padding: 3px;
    border: none;
    border-radius: 14px;
    background: var(--lightpurple);
    font-family: 'Courier New', Courier, monospace;
}
.logout-button:hover {
    color: white;
    cursor: pointer;
    background: var(--darkpurple);
    border-radius: 24px 24px 24px 24px;
}
.profile {
    margin-right: 10px;
    font-size: 20px;
    border: none;
    background: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.profile:hover {
    color: var(--lightblue);
    cursor: pointer;
}
