.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkgray);
    padding: 10px 0 20px 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.home-button {
    /* this is for the "make it real" */
    text-decoration: none;
    color: var(--lightblue);
    font-size: 50px;
    padding: 10px 6px 6px 6px;
}
.home-button:hover {
    color: var(--blue);
}
.cart {
    margin-right: 20px;
    margin-bottom: 10px;
}
.fa-primary {
    color: var(--lightblue);
    margin-top: 10px;
}
.fa-primary:hover {
    color: white;
}
.fa-shopping-cart {
    width: 40px;
    position: relative;
    top: 10px;

}
.login-signup {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: var(--blue);
    border-radius: 20px;
    margin-right: 10px;

}
.login-signup:hover {
    background-color: var(--purple);
}
.profile {

}
.create-post {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 20px;
}
.create-post:hover {
    color: var(--lightblue);
    cursor: pointer;
    background-color: rgba(78, 78, 80, 0);
    border-radius: 24px 24px 24px 24px;
}

/* .profile {
    float: right;
    position: relative;
    right: 115px;
    top: 3px;

    margin-left: 10px;
    font-size: 30px;
    border: none;
    background: none;
    font-weight: bold;
    color: #f76c6c;
}
.profile:hover {
    color: #e95014;
    cursor: pointer;
}

.logout-button {
    color: #f76c6c;
    float: right;
    position: relative;
    padding: 5px;
    top: 7px;
    right: 5px;
    border: none;
    background: none;
    font-weight: bold;
}
.logout-button:hover {
    color: #e95014;
    cursor: pointer;
    background-color: rgba(78, 78, 80, 0);
    border-radius: 24px 24px 24px 24px;
}
.create-post {
    color: #f76c6c;
    float: right;
    position: relative;
    top: 6px;
    right: 47px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
.create-post:hover {
    color: #f8e9a1;
    cursor: pointer;
    background-color: rgba(78, 78, 80, 0);
    border-radius: 24px 24px 24px 24px;
} */
